@use "sass:math";
// @import "./main.scss";

$utilities:(
"padding":(
    "prefix":(p),
    "values":(
        "0":0,
        "4": $base-padding,
        "6": $base-padding+2,
        "8": $base-padding*2,
        "12": $base-padding*3,
        "16": $base-padding*4,
        "20": $base-padding*5,
        "24": $base-padding*6,
        "28": $base-padding*7,
        "32": $base-padding*8,
        "36": $base-padding*9,
        "40": $base-padding*10,
        "44": $base-padding*11,
        "48": $base-padding*12,
        "52": $base-padding*13,
        "56": $base-padding*14,
        "60": $base-padding*15,
        "64": $base-padding*16,
    ),
),
//margin
"margin":(
    "prefix":(m),
    "values":(
        "0":0,
        "4": $base-margin,
        "6": $base-margin+2,
        "8": $base-margin*2,
        "12": $base-margin*3,
        "16": $base-margin*4,
        "20": $base-margin*5,
        "24": $base-margin*6,
        "28": $base-margin*7,
        "32": $base-margin*8,
        "36": $base-margin*9,
        "40": $base-margin*10,
        "44": $base-margin*11,
        "48": $base-margin*12,
        "52": $base-margin*13,
        "56": $base-margin*14,
        "60": $base-margin*15,
        "64": $base-margin*16,
    ),
),
//Gap
"gap":(
    "prefix":(g),
    "values":(
        "0":0,
        "4": $base-gap,
        "6": $base-gap+2,
        "8": $base-gap*2,
        "12": $base-gap*3,
        "16": $base-gap*4,
        "20": $base-gap*5,
        "24": $base-gap*6,
        "28": $base-gap*7,
        "32": $base-gap*8,
        "36": $base-gap*9,
        "40": $base-gap*10,
        "44": $base-gap*11,
        "48": $base-gap*12,
        "52": $base-gap*13,
        "56": $base-gap*14,
        "60": $base-gap*15,
        "64": $base-gap*16,
    ),
),
);

//generate utility classes
@each $property, $map in $utilities{
    $prefix: map-get($map , "prefix" );
    $value: map-get($map, "values" );

    @each $k, $v in $value{
        @if($k == "default"){
            .#{$prefix}{
                #{$property}: $v;
            }
        } @else{
            .#{$prefix}-#{$k}{
                #{$property}: $v;
            }
        }
    }
}
